In [1]:
import pandas as pd
import plotly.express as px

from flights import rapidapi

from tqdm import tqdm_notebook as tqdm
rapidapi.tqdm = tqdm

In [2]:
df = rapidapi.query_pair("BCN", "CAG")

HBox(children=(FloatProgress(value=0.0, max=366.0), HTML(value='')))

In [3]:
df.tail()

,MinPrice,Direct,QuoteDateTime,DepartureDate,Carrier,Origin,Destination,Inserted
,,,,,,,,
20,83.0,False,2020-01-04 17:40:00,2020-10-19,Iberia,BCN,CAG,2020-01-12
21,44.0,True,2020-01-08 23:03:00,2020-10-21,Vueling Airlines,BCN,CAG,2020-01-12
22,73.0,False,2020-01-05 12:52:00,2020-10-22,Ryanair,BCN,CAG,2020-01-12
23,32.0,True,2020-01-09 09:44:00,2020-10-23,Vueling Airlines,BCN,CAG,2020-01-12
24,64.0,False,2020-01-09 09:44:00,2020-10-24,Vueling Airlines,BCN,CAG,2020-01-12

In [6]:
df.reset_index(drop=True)

,MinPrice,Direct,QuoteDateTime,DepartureDate,Carrier,Origin,Destination,Inserted
0,102.0,False,2020-01-12 12:17:00,2020-01-13,Ryanair,BCN,CAG,2020-01-12
1,102.0,False,2020-01-12 13:15:00,2020-01-14,Ryanair,BCN,CAG,2020-01-12
2,78.0,False,2020-01-11 20:46:00,2020-01-15,Vueling Airlines,BCN,CAG,2020-01-12
3,65.0,False,2020-01-11 18:09:00,2020-01-16,Ryanair,BCN,CAG,2020-01-12
4,103.0,False,2020-01-12 13:28:00,2020-01-17,Ryanair,BCN,CAG,2020-01-12
...,...,...,...,...,...,...,...,...
304,83.0,False,2020-01-04 17:40:00,2020-10-19,Iberia,BCN,CAG,2020-01-12
305,44.0,True,2020-01-08 23:03:00,2020-10-21,Vueling Airlines,BCN,CAG,2020-01-12
306,73.0,False,2020-01-05 12:52:00,2020-10-22,Ryanair,BCN,CAG,2020-01-12
307,32.0,True,2020-01-09 09:44:00,2020-10-23,Vueling Airlines,BCN,CAG,2020-01-12
308,64.0,False,2020-01-09 09:44:00,2020-10-24,Vueling Airlines,BCN,CAG,2020-01-12